# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Literature
.literature/

.simulation
.notes
.test
test.*
.test/
.output
data/
output

# C extensions
*.so

# Distribution / packaging
.DS_Store
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
input/
lib64/
parts/
sdist/
var/
#doc*
docs/build
giac/
*.tmp
input_other/
session.tex
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.notes
.simulation
.test
.data
data
lib

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/

gimble.bed

gimble.coverage_summary.csv

gimble.genomefile

gimble.log.txt

gimble.samples.csv

gimble.vcf.gz

gimble.heliconius.intergenic.testing_chr02_chr09_chr18.l_64.m_128.i_3.u_3.inter.blocks.tsv

gimble.model.s_A_B.n_1_1.M_A_B.ini

gimble.model.s_A_B.n_1_1.M_A_B.pdf

gimble.model.s_A_B.n_1_1.M_A_B.tsv

gimble.model.s_A_B.n_1_1.M_B_A.ini

gimble.model.s_A_B.n_1_1.M_B_A.pdf

gimble.model.s_A_B.n_1_1.M_B_A.tsv

dasktemp/global.lock

dasktemp/purge.lock

gimble.heliconius.intergenic.testing_chr02_chr09_chr18.windows.gridsearch.bed

gimble.heliconius.intergenic.testing_chr02_chr09_chr18.windows.gridsearch.bestfit.bed

gimble.model.s_A_B.n_1_1.M_A_B.J_A_B.ini

gimble.model.s_A_B.n_1_1.M_A_B.J_A_B.pdf

gimble.model.s_A_B.n_1_1.M_A_B.J_A_B.tsv

test_models/gimble.model.s_A_B.n_1_1.J_A_B.10_points.ini

test_models/gimble.model.s_A_B.n_1_1.J_A_B.50_points.ini

test_models/gimble.model.s_A_B.n_1_1.J_A_B.gridsearch_test.ini

test_models/gimble.model.s_A_B.n_1_1.J_A_B.ini

test_models/gimble.model.s_A_B.n_1_1.J_A_B.optimize.ini

notes.txt

log_ilt.txt

log_equation.txt

log_file.txt

log_ETPs.txt
gimble.heliconius.intergenic.testing_chr02_chr09_chr18.20200920.l_64.m_128.i_3.u_3.inter.blocks.tsv

gimble.heliconius.intergenic.testing_chr02_chr09_chr18.windows.bed

gimble.model.s_A_B.n_1_1.J_A_B.tsv

mergebed.sh
