# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Literature
.literature/

.simulation
.notes
.test
test.*
.test/
.output
data/

# C extensions
*.so

# Distribution / packaging
.DS_Store
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.tar.gz
#doc*
docs/build
giac/
*.tmp
input_other/
session.tex
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.notes
.simulation
.data
data

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/

gimble.bed

gimble.coverage_summary.csv

gimble.genomefile

gimble.log.txt

gimble.samples.csv

gimble.vcf.gz

gimble.heliconius.intergenic.testing_chr02_chr09_chr18.l_64.m_128.i_3.u_3.inter.blocks.tsv

gimble.model.s_A_B.n_1_1.M_A_B.ini

gimble.model.s_A_B.n_1_1.M_A_B.pdf

gimble.model.s_A_B.n_1_1.M_A_B.tsv

gimble.model.s_A_B.n_1_1.M_B_A.ini

gimble.model.s_A_B.n_1_1.M_B_A.pdf

gimble.model.s_A_B.n_1_1.M_B_A.tsv

dasktemp/global.lock

dasktemp/purge.lock

gimble.heliconius.intergenic.testing_chr02_chr09_chr18.windows.gridsearch.bed

gimble.heliconius.intergenic.testing_chr02_chr09_chr18.windows.gridsearch.bestfit.bed

gimble.model.s_A_B.n_1_1.M_A_B.J_A_B.ini

gimble.model.s_A_B.n_1_1.M_A_B.J_A_B.pdf

gimble.model.s_A_B.n_1_1.M_A_B.J_A_B.tsv

test_models/gimble.model.s_A_B.n_1_1.J_A_B.10_points.ini

test_models/gimble.model.s_A_B.n_1_1.J_A_B.50_points.ini

test_models/gimble.model.s_A_B.n_1_1.J_A_B.gridsearch_test.ini

test_models/gimble.model.s_A_B.n_1_1.J_A_B.ini

test_models/gimble.model.s_A_B.n_1_1.J_A_B.optimize.ini

notes.txt

log_ilt.txt

log_equation.txt

log_file.txt

log_ETPs.txt
gimble.heliconius.intergenic.testing_chr02_chr09_chr18.20200920.l_64.m_128.i_3.u_3.inter.blocks.tsv

gimble.heliconius.intergenic.testing_chr02_chr09_chr18.windows.bed

gimble.model.s_A_B.n_1_1.J_A_B.tsv

mergebed.sh

profile_bsfss.py

variation2bsfs.prof

windows2bsfs.prof

gimble.v0.7.1.master.parse.windows.popgen.bed

gimble.v0.7.1.master.toy.windows.popgen.bed

gimble.DIV.ini

gimble.DIV.no_sync.ini

gimble.MIG_AB.ini

gimble.test.master.parse.info.20210318_172725.txt

gimble.test.master.parse.info.txt

gimble.test.master.parse.l_64.m_128.i_3.u_3.kmax_3_3_3_3.tally.blocks.tsv

gimble.test.master.parse.l_64.m_128.i_3.u_3.kmax_4_4_4_4.tally.blocks.tsv

gimble.test.master.parse.l_64.m_128.i_3.u_3.kmax_None.tally.blocks.tsv

gimble.test.master.parse.l_64.m_128.i_3.u_3.w_500.s_50.kmax_3_3_3_3.tally.windows_sum.tsv

gimble.test.master.parse.l_64.m_128.i_3.u_3.w_500.s_50.kmax_None.tally.windows_sum.tsv

gimble.test.master.parse.l_64.m_128.i_3.u_3.w_500.s_50.tally.windows_sum.tsv

gimble.test.master.parse.l_64.m_128.i_3.u_3.w_500.s_50.tally.windows.tsv

gimble.test.master.parse.windows.popgen.bed

gimble.test.master.parse.windows.popgen.bed.npunique_sample_sets

gimble.test.master.parse.windows.popgen.non_effective.bed

gimble.v0.7.1.master.parse.l_64.m_128.i_3.u_3.bsfs.blocks.tsv

gimble.v0.7.1.master.parse.l_64.m_128.i_3.u_3.kmax_2_2_2_2.tally.blocks.tsv

gimble.v0.7.1.master.parse.l_64.m_128.i_3.u_3.kmax_none.tally.blocks.tsv

gimble.v0.7.1.master.parse.l_64.m_128.i_3.u_3.tally.blocks.2_2_2_2.tsv

gimble.v0.7.1.master.parse.l_64.m_128.i_3.u_3.tally.blocks.tsv

log_single_ETP.txt

optimize_log_blocks_3797af1d905e281d74e97159b237e202_.tsv

optimize_log_blocks_d6d124216c56fe1cbdbdc399afb8fe47_.tsv

optimize_log_blocks_f1ccb61fa6a25da413f6dd207e65c4ef_.tsv

gimble.test.master.parse_var_fix.info.txt

gimble.test.master.parse.info.pre_count_var_fix.txt

test1.z/

test2.z/

test3.z/

test5.z/

test4.z/

.gimblelibjunk/

blessed_configs/

tests/output/

*.log

gimble.2chr_1M.optimize_maxk1_test_optimize_1.optimize.tsv

gimble.2chr_1M.optimize_maxk3_test_optimize_1.optimize.tsv

gimble.2chr_1M.optimize_simulate64_test_optimize_1.optimize.0.tsv

gimble.2chr_1M.optimize_simulate64_test_optimize_1.optimize.1.tsv

gimble.2chr_1M.optimize_simulate64_test_optimize_1.optimize.2.tsv

gimble.2chr_1M.tally_maxk1.tsv

gimble.2chr_1M.tally_maxk3.tsv

gimble.optimize.DIV.test_optimize_1.config.ini
